Repository dora56/textlint-rule-azure-product-name: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: package.json name
  package.json
Due: prettier --write

chore: add "createrule" script to package.json
  package.json
Due: prettier --write

chore(cicd): add build and test workflows
  .github/actions/build/acitons.yml
  .github/workflows/test.yml
Due: prettier --write

fix: rename action.yml
  .github/actions/build/aciton.yml
Due: prettier --write

fix: typo file name
  .github/actions/build/action.yml
Due: prettier --write

ci: add workflow to auto-create regular rules
  .github/workflows/update-dict.yml
Due: prettier --write

ci: add release workflow and semantic-release configuration
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --write

chore: add dependabot configuration file
  .github/dependabot.yml
Due: prettier --write

Notes added by 'git notes add'
  46725118edc9a860564745d63feabb1966ddc26d
Due: none

chore: update repository URL in package.json
  package.json
Due: prettier --write

docs: fix typo README.md
  README.md
Due: none

chore: update version 1.0.1
  package.json
Due: prettier --write

feat: add rules pluralization
  dict/auto-create-regular-rules.yml
  spec/src/rule/rules.test.ts
  src/rule/rules.ts
  test/index-test.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e48872e4bf33199da7edb41a1f210ebac329eb38
Due: none

feat: update auto-create-regular-rules.yml
  package-lock.json
Due: prettier --write

feat: update auto-create-regular-rules.yml
  dict/auto-create-regular-rules.yml
Due: prettier --write

Notes added by 'git notes add'
  5eb59fbb3ab0053318e1768ca71f74b7df5b28ef
Due: none

Notes added by 'git notes add'
  197bf1dec247fc336d7d76011391c5c4afdba1fb
Due: none

Notes added by 'git notes add'
  3d265e92c8cfdacb56b3c60fde0a328ab1d1af63
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.json) or (any of: *.yml)
